{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>

    <!-- Basic Page Needs
    ================================================== -->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>PortfolioPerfect</title>

    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="keywords" content="">

    <!-- Mobile Specific Metas
    ================================================== -->
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes" />

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">

    <!-- Favicon
    ================================================== -->
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'assets/img/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'assets/img/favicon.png' %}">

    <!-- Stylesheets
    ================================================== -->
    <!-- Bootstrap core CSS -->
    <link href="{% static 'assets/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'assets/css/style.css' %}" rel="stylesheet">
    <link href="{% static 'assets/css/responsive.css' %}" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body>

    <header id="masthead" class="site-header" data-anchor-target=".hero" data-top="background: rgba(255,255,255,0); padding: 30px 0; box-shadow: 0px 0px 20px 6px rgba(0, 0, 0, 0);" data-top-bottom="background: rgba(255,255,255,1); padding: 10px 0; box-shadow: 0px 0px 20px 6px rgba(0, 0, 0, 0.2);">
        <nav id="primary-navigation" class="site-navigation">
            <div class="container">
                <div class="navbar-header page-scroll">

                    <button type="button" class="navbar-toggle collapsed" data-target="#portfolio-perfect-collapse" aria-expanded="false" >
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    
                    <a href="#hero" class="site-logo"><img src="{% static 'assets/img/logo.png' %}" alt="logo"></a>

                </div><!-- /.navbar-header -->

                <div class="main-menu" id="portfolio-perfect-collapse">

                    <ul class="nav navbar-nav navbar-right">
                        <li class="page-scroll"><a href="#hero">Home</a></li>
                        <li class="page-scroll"><a href="#about">About</a></li>
                        <li class="page-scroll"><a href="#service">Service</a></li>
                        <li class="page-scroll"><a href="#portfolio">Portfolio</a></li>
                        <li class="page-scroll"><a href="#contact">Contact</a></li>
                    </ul><!-- /.navbar-nav -->

                </div><!-- /.navbar-collapse -->

            </div>
        </nav><!-- /.primary-navigation -->
    </header><!-- /#header -->

    <div id="hero" class="hero">
        <div class="container">
            <div class="row">

                <div class="col-md-6">
                    <h1>Alex Vidal</h1>
                    <div class="page-scroll">
                        <p class="job-title">Full Stack Developer</p>
                        <a href="#contact" class="btn btn-fill ">Hire me</a>
                        <div class="clearfix visible-xxs"></div>
                        <a href="#portfolio" class="btn btn-border">Explore more</a>
                    </div>
                </div>
            
                <div class="col-md-6 text-right">
                    <img src="{% static 'assets/img/alex-vidal.png' %}" alt="alex-vidal">
                </div>

            </div>
        </div>
    </div><!-- /.hero -->

    <main id="main" class="site-main">

        <section id="about" class="site-section section-about text-center">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-md-offset-3">
                        <h2>About</h2>
                        <img src="{% static 'assets/img/lines.svg' %}" class="img-lines" alt="lines">
                        <p>Hello! I'm Alex, a full stack developer, a Ruby enthusiast, and a guy slightly obsessed with code quality. Also, I'm a co-founder of pykod.com. I’m currently available for freelance work. If you have a project that you want to get started or think you need my help with something, then get in touch.</p>
                        <a href="http://www.grad.illinois.edu/sites/default/files/pdfs/cvsamples.pdf" class="btn btn-fill" target="_blank" download>Download my CV</a>
                    </div>
                </div>
            </div>
        </section><!-- /.section-about -->

        <section class="site-section section-skills">
            <div class="container">
                <div class="text-center">
                    <h3>My Skills</h3>
                    <img src="{% static 'assets/img/lines.svg' %}" class="img-lines" alt="lines">
                </div>
                <div class="row">
                    {% for skill in skills %}
                    <div class="col-md-4">
                        <div class="skill">
                            <h4>{{ skill.name }}</h4>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" data-transitiongoal="{{ skill.level }}"></div><!-- /.progress-bar -->
                            </div><!-- /.progress -->
                        </div><!-- /.skill -->
                    </div>
                    {% endfor %}
                </div>
            </div>
        </section><!-- /.section-skills -->
        
        <section id="service" class="site-section section-services overlay text-center">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h3>What I do</h3>
                        <img src="{% static 'assets/img/lines.svg' %}" class="img-lines" alt="lines">
                    </div>
                    {% for service in services %}
                    <div class="col-sm-4">
                        <div class="service">
                            <img src="{{ service.icon.url }}" alt="{{ service.title }}">
                            <h4>{{ service.title }}</h4>
                            <p>{{ service.description }}</p>
                        </div><!-- /.service -->
                    </div>
                    {% endfor %}
                </div>
            </div>
        </section><!-- /.section-services -->        

        <section id="portfolio" class="site-section section-portfolio">
            <div class="container">
                <div class="text-center">
                    <h3>My Recent Works</h3>
                    <img src="{% static 'assets/img/lines.svg' %}" class="img-lines" alt="lines">
                </div>
                <div class="row">
                    {% for project in projects %}
                    <div class="col-md-4 col-xs-6">
                        <div class="portfolio-item">
                            <img src="{{ project.image.url }}" class="img-res" alt="{{ project.title }}">
                            <div class="portfolio-item-info">
                                <h4>{{ project.title }}</h4>
                                <a href="#" data-toggle="modal" data-target="#portfolioItem{{ forloop.counter }}"><span class="glyphicon glyphicon-eye-open"></span></a>
                                <a href="{{ project.link }}" target="_blank"><span class="glyphicon glyphicon-link"></span></a>
                            </div>
                        </div><!-- /.portfolio-item -->
                    </div>
                    {% endfor %}
                </div>
            </div>
        </section><!-- /.section-portfolio -->

        <section class="site-section section-counters">
            <div class="container">
                <div class="row">
                    <div class="col-md-3">
                        <div class="counter">
                            <h3 class="counter-value">{{ counter.projects }}</h3>
                            <p>Projects Completed</p>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="counter">
                            <h3 class="counter-value">{{ counter.clients }}</h3>
                            <p>Happy Clients</p>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="counter">
                            <h3 class="counter-value">{{ counter.experience }}</h3>
                            <p>Years of Experience</p>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="counter">
                            <h3 class="counter-value">{{ counter.certifications }}</h3>
                            <p>Certifications</p>
                        </div>
                    </div>
                </div>
            </div>
        </section><!-- /.section-counters -->

        <section id="contact" class="site-section section-contact overlay text-center">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h3>Contact</h3>
                        <img src="{% static 'assets/img/lines.svg' %}" class="img-lines" alt="lines">
                    </div>
                    <div class="col-md-6 col-md-offset-3">
                        <form action="{% url 'send_email' %}" method="post">
                            {% csrf_token %}
                            <div class="form-group">
                                <input type="text" class="form-control" name="name" placeholder="Your Name" required>
                            </div>
                            <div class="form-group">
                                <input type="email" class="form-control" name="email" placeholder="Your Email" required>
                            </div>
                            <div class="form-group">
                                <textarea class="form-control" rows="5" name="message" placeholder="Your Message" required></textarea>
                            </div>
                            <button type="submit" class="btn btn-fill">Send Message</button>
                        </form>
                    </div>
                </div>
            </div>
        </section><!-- /.section-contact -->

    </main><!-- /.site-main -->

    <footer class="site-footer text-center">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <p>© 2024 PortfolioPerfect. All Rights Reserved. Designed by <a href="#">YourName</a></p>
                </div>
            </div>
        </div>
    </footer><!-- /.site-footer -->

    <!-- Javascript
    ================================================== -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
    <script src="{% static 'assets/js/skrollr.min.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-progressbar/0.9.0/bootstrap-progressbar.min.js"></script>
    <script src="{% static 'assets/js/jquery.magnific-popup.min.js' %}"></script>
    <script src="{% static 'assets/js/script.js' %}"></script>

</body>
</html>
